{% extends "base.html" %}

{% block title %}
    Historie Analyse
{% endblock %}

{% block content2 %}
    <body>
        <h1>Zählerstände</h1>
        <div id='chart1' class='chart'”></div>
        <h1>Verbrauch</h1>
        <div id='chart2' class='chart'”></div>
    </body>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs1 = {{graphJSON1 | safe}};
        Plotly.plot('chart1',graphs1,{});
        var graphs2 = {{graphJSON2 | safe}};
        Plotly.plot('chart2',graphs2,{});
    </script>
{% endblock %}