{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content2 %}
    <h2>Login</h2>

    <p>Enter your <strong>username</strong> and <strong>password</strong> to access the page:</p>

    <form action="#" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd"><br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}