{% extends "base.html" %}

{% block title %}
    Data Entry
{% endblock %}

{% block content2 %}
    <body>
        <table border="1">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Gas</th>
                    <th>Water</th>
                    <th>Power In</th>
                    <th>Power Out</th>
                    <th>Power Gen</th>
                    <th>Power PV used</th>
                    <th>Power used</th>
                    <th>Power Car Stephan</th>
                    <th>Power Car Heike</th>
                    <th>Power Car Wink</th>
                </tr>
            </thead>
            <tbody id="table-body">
                <tr>
                    <td contenteditable="true">2023-10-08</td>
                    <td contenteditable="true">0.0</td>
                    <td contenteditable="true">0.0</td>
                    <td contenteditable="true">0.0</td>
                    <td contenteditable="true">0.0</td>
                    <td contenteditable="true">0.0</td>
                    <td contenteditable="true">0.0</td>
                    <td contenteditable="true">0.0</td>
                    <td contenteditable="true">0.0</td>
                    <td contenteditable="true">0.0</td>
                    <td contenteditable="true">0.0</td>
                </tr>
            </tbody>
        </table>
        
        <button id="apply-button">Apply Changes</button>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var applyButton = document.getElementById('apply-button');

                applyButton.addEventListener('click', function() {
                    var cells = document.querySelectorAll('td[contenteditable="true"]');
                    var values = [];
                    cells.forEach(function(cell) {
                        values.push(cell.innerText);
                    });

                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/newyear', true);
                    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

                    xhr.onload = function() {
                        if (xhr.status >= 200 && xhr.status < 400) {
                            console.log('Values updated successfully');
                            window.location.href = '/newyear'; // Reload the actuals page
                        } else {
                            console.error('Error updating values');
                        }
                    };

                    xhr.onerror = function() {
                        console.error('Error updating values');
                    };

                    xhr.send(JSON.stringify({'values': values}));
                });
            });
        </script>
    </body>
{% endblock %}
